body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

/* #region header */

.header-all {
  border-bottom: 1px solid #e7e9fc;
}

.header-all .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-all {
  display: flex;
  align-items: center;
}

.nav-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;

  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.nav-logo-span {
  color: #2e2f42;
}

.menu {
  display: flex;
  gap: 40px;
}

.nav-a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}

.nav-a:hover {
  color: #404bbf;
}

.nav-a:focus {
  color: #404bbf;
}

.address-all {
  font-style: normal;
}

.address-item {
  padding: 24px 0;
}

.address-link {
  display: flex;
  gap: 40px;
}

.address-a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-a:hover {
  color: #404bbf;
}

.address-a:focus {
  color: #404bbf;
}
/* #endregion header */

/* #region hero-section */
.hero-section {
  background: #2e2f42;
  padding: 188px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.button-hero-section {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.button-hero-section:hover {
  background: #404bbf;
}

.button-hero-section:focus {
  background: #404bbf;
}
/* #endregion hero-section */
/* #region about-company-section */

.about-company-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-company-list {
  display: flex;
  gap: 24px;
}

.about-company-item {
  width: calc((100% - 72px) / 4);
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion about-company-section */
/* #region our-teams-section */

.our-teams-section {
  background: #f4f4fd;
  padding: 120px 0;
}

.our-teams-section .section-title {
  margin-bottom: 72px;
}

.our-teams-list {
  display: flex;
  gap: 24px;
}

.employee-our-teams-card {
  width: calc((100% - 72px) / 4);
  background: #fff;
  border-radius: 0px 0px 4px 4px;
}

.our-teams-card-text {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 0;
}

.our-teams-card-text .item-title {
  font-weight: 500;
  margin-bottom: 8px;
  text-align: center;
}

.our-teams-card-text .section-text {
  text-align: center;
}

/* #endregion our-teams-section */
/* #region our-portfolio-section */

.our-portfolio {
  padding: 120px 0;
}

.our-portfolio .section-title {
  margin-bottom: 72px;
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.porfolio-card {
  width: calc((100% - 48px) / 3);
}

.porfolio-card-text {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.porfolio-card-text .item-title {
  font-weight: 500;
  margin-bottom: 8px;
}
/* #endregion our-portfolio-section */
/* #region footer-section */
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-span {
  color: #f4f4fd;
}

.footer-section {
  background: #2e2f42;
  padding: 100px 0;
}
/* #endregion footer-section */
